input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #d4a3a3;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-top: auto;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #c09090;
}

.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  width: 50%;
  margin: 20px auto;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  border-radius: 10px;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

h3 {
  font-size: 30px;
  font-weight: bolder;
}
