.mem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.mem-form-container-wrapper {
    display: flex;
    justify-content: space-around;
    width: 95%;
    max-width: 800px;
}

.mem-form-separator {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
    align-self: stretch;
}

.mem-form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mem-form-section form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mem-subtitle {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.mem-form-group {
    margin-bottom: 15px;
}

.mem-label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #333;
}

.mem-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

.mem-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: auto;
    text-transform: uppercase;
}

.mem-primary-btn {
    background-color: #D4A3A3;
}

.mem-primary-btn:hover {
    background-color: #C09090;
}

.mem-error-message {
    color: red;
    margin-top: 10px;
    font-size: 18px;
}

.mem-modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
}

.mem-modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.mem-modal-content {
    position: relative;
    background: #fff;
    padding: 40px 48px;
    border-radius: 14px;
    text-align: center;
    max-width: 420px;
    width: 90%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.mem-modal-content h1 {
    font-size: 22px;
    line-height: 1.6;
}

.auto-fill {
    font-size: 0.8rem;
    color: #777;
    border: none;
    border-bottom: 1px solid #777;
    width: 120px;
    background: none;
    cursor: pointer;
}

.auto-fill:hover {
    color: rgb(227, 127, 104);
    border-bottom: 1px solid rgb(227, 127, 104);
}

@media (max-width: 768px) {

    .mem-form-container-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .mem-form-separator {
        width: 100%;
        height: 1px;
        background-color: #ccc;
        margin: 20px 0;
        align-self: center;
    }

    .mem-form-section {
        padding: 20px 0;
    }

    .mem-descMsgFont {
        font-size: 13px;
    }
}