<header class="site-header">
    <nav class="nav-container">

        <!-- Logo -->
        <a href="/index.html" class="logo">
            <img src="/src/images/symbols/logo.png" alt="logo" />
            <span class="logo-text">PE075DS-16<br>Group5</span>
        </a>

        <!-- Desktop Menu -->
        <ul class="nav-menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/shop.html">Shop</a></li>
            <li><a href="/contactus.html">Contact Us</a></li>
        </ul>

        <!-- Right Actions -->
        <div class="nav-actions">
            <!-- login -->
             <div class="login">
                <a href="/login.html"><img src="/src/images/symbols/person-circle.svg"></a>
                <span>Sign in / Sign up</span>
             </div>
            <!-- Cart -->
            <div class="cart">
                <button class="cart-btn">
                    <img src="/src/images/symbols/cart.svg">
                    <span class="cart-count">2</span>
                </button>

                <div class="cart-dropdown">
                    <div class="cart-item">
                        <img src="/src/images/sample.png" alt="">
                        <div class="cart-info">
                            <p>Men sports sweat pants</p>
                            <span>$13.99</span>
                        </div>
                        <button class="cart-remove">✕</button>
                    </div>
                    <div class="cart-item">
                        <img src="/src/images/sample.png" alt="">
                        <div class="cart-info">
                            <p>Men sports sweat pants</p>
                            <span>$13.99</span>
                        </div>
                        <button class="cart-remove">✕</button>

                    </div>
                    <div class="cart-item">
                        <img src="/src/images/sample.png" alt="">
                        <div class="cart-info">
                            <p>Men sports sweat pants</p>
                            <span>$13.99</span>
                        </div>
                        <button class="cart-remove">✕</button>
                    </div>

                    <a href="/cart.html" class="go-to-cart-btn">
                        Go to Cart →
                    </a>
                </div>
            </div>

            <!-- Mobile Toggle -->
            <button class="navbar-toggle" aria-label="Toggle menu">
                ☰
            </button>
        </div>

    </nav>

    <!-- Mobile Menu -->
    <aside class="mobile-menu">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/shop.html">Shop</a>
        <a href="/contactus.html">Contact Us</a>
    </aside>
</header>