<header class="site-header">
    <div class="page-loader">
        <div class="loader"></div>
    </div>

    <nav class="nav-container">

        <!-- Logo -->
        <a href="/index.html" class="logo">
            <img src="/src/images/symbols/logo.png" alt="logo" />
            <span class="logo-text">PE075DS-16<br>Group5</span>
        </a>

        <!-- Desktop Menu -->
        <ul class="nav-menu">
            <li><a href="/index.html" data-i18n="nav.home">Home</a></li>
            <li><a href="/shop.html" data-i18n="nav.shop">Shop</a></li>
            <li><a href="/aboutus.html" data-i18n="nav.about">About</a></li>
            <li><a href="/contactus.html" data-i18n="nav.contact">Contact Us</a></li>
        </ul>

        <!-- Right Actions -->
        <div class="nav-actions">

            <!-- Language switch -->
            <div class="lang-switch">
                <button class="lang-btn">繁</button>
                <span class="lang-sep">|</span>
                <button class="lang-btn">EN</button>
            </div>

            <!-- Login -->
            <div class="action-item login">
                <a href="/login_register.html" class="action-icon">
                    <img src="/src/images/symbols/person-circle.svg" alt="login">
                    <span class="action-label">
                        <span data-i18n="login">LOGIN</span>/
                        <span data-i18n="register">REGISTER</span>
                    </span>
                </a>

            </div>
            <!-- Cart -->
            <div class="action-item cart">
                <button class="cart-btn">
                    <img src="/src/images/symbols/cart.svg">
                    <span class="cart-count">0</span>
                    <span class="action-label" data-i18n="cart">CART</span>
                </button>
                <div class="cart-dropdown">
                    <div class="cart-items">
                        <span class="cart-empyt">- Empty -</span>
                    </div>
                    <a href="/cart.html" class="go-to-cart-btn">
                        Go to Cart →
                    </a>
                </div>
            </div>

            <!-- Mobile Toggle -->
            <button class="navbar-toggle" aria-label="Toggle menu">
                ☰
            </button>
        </div>
    </nav>

    <!-- Mobile Menu -->
    <aside class="mobile-menu">
        <a href="/index.html" data-i18n="nav.home">Home</a>
        <a href="/shop.html" data-i18n="nav.shop">Shop</a>
        <a href="/about.html">About</a>
        <a href="/contactus.html">Contact Us</a>
    </aside>
    <div class="menu-overlay"></div>

</header>
